$mobile: 768px
$visible: 1232px

$background: #252526
$white: #ffffff
$black: #000000
$gray:  #707070
$grayTransparent:  rgba(0, 0, 0, 0.44)
$error: #ffe7e6
$errorPoint: #db4b46

@mixin desktop
    @media screen and (min-width: #{$mobile})
        @content

#Main
    background-color: $white
    font-size: 3em
    height: 100vh
    margin: 0
    padding: 0
    overflow: hidden
    user-select: none
    -moz-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    *
        font-family: 'Asap', Helvetica, Arial, sans-serif
    iframe
        transition: none