$mobile: 768px
$visible: 1232px

$background: #252526
$white: #ffffff
$black: #000000
$gray:  #707070
$grayTransparent:  rgba(0, 0, 0, 0.44)
$error: #ffe7e6
$errorPoint: #db4b46

@mixin desktop
    @media screen and (min-width: #{$mobile})
        @content

#Main
    font-size: 3em
    height: 100vh
    margin: 0
    padding: 0
    overflow: hidden
    user-select: none
    -moz-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    background-color: $white
    background-image: url("../assets/images/pattern.png")
    background-size: auto
    background-repeat: repeat
    *
        font-family: 'Asap', Helvetica, Arial, sans-serif
    #musicBox
        position: fixed
        bottom: 50px
        left: 50px
        width: auto
        height: auto
        display: flex
        flex-direction: row
        align-items: center
        #music_start
            position: relative
            width: 50px
            height: 50px
            background-color: blue
        #volume-control
            position: relative
            top: 100%
            border: 1px solid #aaa
            background: #dedede
            width: 80px
            height: 32px
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            #volume
                -webkit-appearance: slider-horizontal
                width: calc(100% - 16px)
        audio
            visibility: hidden